<% include partials/header %>

<div class="ui main text segment container">
    <div class="ui huge header"><%= blog.title %></div>
        <div class="ui top attached segment">
            <div class="item">
                <img class="ui centered rounded image showarea" src="<%= blog.image %>">
                <div class="content showarea">
                    <span><%= blog.created.toDateString() %></span>
                </div>
                <div class="description showarea">
                    <p><%- blog.body %></p>
                </div>
                
                <form id="delete" action="/blog/<%=blog._id%>?_method=DELETE" method="POST">
                    <a class="ui basic button violet inline" href="/blog/<%=blog._id%>/edit">Edit</a>
                    <button class="ui basic red button">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>